/* line 12, ../sass/styl.sass */
body {
  line-height: 1;
}

@-webkit-keyframes bounce-top-bottom {
  0% {
    top: 0;
  }
  25% {
    top: 20px;
  }
  50% {
    top: -20px;
  }
  75% {
    top: 20px;
  }
  100% {
    top: 0;
  }
}
@-moz-keyframes bounce-top-bottom {
  0% {
    top: 0;
  }
  25% {
    top: 20px;
  }
  50% {
    top: -20px;
  }
  75% {
    top: 20px;
  }
  100% {
    top: 0;
  }
}
@-o-keyframes bounce-top-bottom {
  0% {
    top: 0;
  }
  25% {
    top: 20px;
  }
  50% {
    top: -20px;
  }
  75% {
    top: 20px;
  }
  100% {
    top: 0;
  }
}
@keyframes bounce-top-bottom {
  0% {
    top: 0;
  }
  25% {
    top: 20px;
  }
  50% {
    top: -20px;
  }
  75% {
    top: 20px;
  }
  100% {
    top: 0;
  }
}
@-webkit-keyframes fade-out {
  from {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  to {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}
@-moz-keyframes fade-out {
  from {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  to {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}
@-o-keyframes fade-out {
  from {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  to {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}
@keyframes fade-out {
  from {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  to {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}
@-webkit-keyframes fade-in {
  from {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  to {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
}
@-moz-keyframes fade-in {
  from {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  to {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
}
@-o-keyframes fade-in {
  from {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  to {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  to {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
}
/* line 39, ../sass/styl.sass */
#page {
  -moz-animation: bounce-top-bottom 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) infinite both;
  -webkit-animation: bounce-top-bottom 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) infinite both;
  animation: bounce-top-bottom 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) infinite both;
}
/* line 43, ../sass/styl.sass */
#page table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* line 45, ../sass/styl.sass */
#page table th, #page table td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
/* line 48, ../sass/styl.sass */
#page .circle {
  border-radius: 50%;
  background-clip: padding-box;
}
/* line 51, ../sass/styl.sass */
#page q, #page blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
#page q:before, #page q:after, #page blockquote:before, #page blockquote:after {
  content: "";
  content: none;
}

/* line 55, ../sass/styl.sass */
nav ul, nav ol, [role=navigation] ul, [role=navigation] ol {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
}

/*# sourceMappingURL=styl.css.map */
