// Susy Global Settings
$susy: (
	container: 1200px,
	columns: 12,
	column-width: 80px,
	gutters: 20px/80px,
	gutter-position: split,
	math: static,
	debug: (
		image: show,
		color: rgba(#50B6D1, 0.3)
	)
);